<!doctype html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}Project Maharbani Base {% endblock title %} </title>

	<!-- Styles -->
	<link rel='stylesheet' href='../../static/indexassets/css/bootstrap.min.css'>
	<link rel='stylesheet' href='../../static/indexassets/css/animate.min.css'>
	<link rel='stylesheet' href="../../static/indexassets/css/font-awesome.min.css"/>
	<link rel='stylesheet' href="../../static/indexassets/css/style.css"/>
	<link rel='stylesheet' href="../../static/indexassets/css/Pretty-Footer.css"/>
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>
<!-- Start Header
	================================================== -->
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->
		<a href="#hero" class="navbar-brand">Project Maharbani </a>
	</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	<ul class="nav navbar-nav">
		<li>
		<a href="#hero">Home</a>
		</li>
		<li>
		<a href="#about">About/Vison</a>
		</li>
        <!--<li>
		<a href="#gallery">Gallery</a>
		</li> !-->
		<li>
		<a href="#slider">Inspiration</a>
		</li>
		<li>
		<a href="#faq">FAQ</a>
		</li>
		<li>
		<a href="#contactarea">Contact</a>
		</li>
        <li>
		<a href="#">Donner Login</a>
		</li>

    </ul>
	</nav>
</div>
</header>

<body>
{% block body %} Base Body TEST {% endblock body %}
<!-- Credits
=============================================== -->
<footer>
    <div class="row">
        <div class="col-md-4 col-sm-6 footer-navigation">
            <h1>Project Maharbani</h1>
            <p class="links"><a href="index.html">Home</a><strong> · </strong><a href="#about">About . </a><a href="#team">Team </a><strong> · </strong><a href="#faq">Faq</a><strong> · </strong><a href="#contact">Contact</a></p>
            <p class="company-name">Project Marbani © 2017 <strong>|</strong> Version : 1.0 Beta</p>
        </div>
        <div class="col-md-4 col-sm-6 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Near UMT Road</span> Johar Town, Lahore</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">111-111-111-111 </p>
            </div><i class="fa fa-envelope footer-contacts-icon"></i>
            <p>help@projectmahbani.com </p>
            <div></div>
        </div>
        <div class="col-md-4 footer-about">
            <div class="social-links social-icons">
                <h4>Social Media Contacts</h4><a href="www.facebook.com/projectmaharbani.com"><i class="fa fa-facebook-official"></i></a></div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/indexassets/js/jquery.min.js"></script>
<script src="../../static/indexassets/js/bootstrap.min.js"></script>
<script src="../../static/indexassets/js/waypoints.min.js"></script>
<script src="../../static/indexassets/js/jquery.scrollTo.min.js"></script>
<script src="../../static/indexassets/js/jquery.localScroll.min.js"></script>
<script src="../../static/indexassets/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/indexassets/js/validate.js"></script>
<script src="../../static/indexassets/js/common.js"></script>
</body>
</html>