{% extends "Project Mahrabani -FrontEnd/base.html" %}
{% block title %} Project Maharbani - Login {% endblock title %}

{% block body %}
    <link rel="stylesheet" href="../../static/indexassets/css/Login.css">

    <div class="container">
        <p class="newaccountparagraph">Don't have Account
            <a href="signup.html"></a><a class="btn btn-default" role="button" href="signup.html">SIGNUP </a></p>
    </div>
    <div class="login-card"><img src="assets/img/emptyimage.png" class="profile-img-card">
        <p class="profile-name-card"> </p>
        <form class="form-signin"><span class="reauth-email"> </span>
            <input class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail">
            <input class="form-control" type="password" required="" placeholder="Password" inputmode="latin" id="inputPassword">
            <div class="checkbox">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Remember me</label>
                </div>
            </div>
            <button class="btn btn-primary active btn-lg btn-signin" type="submit">Sign in</button>
        </form><a href="#" class="forgot-password">Forgot your password?</a></div>
{% endblock body %}
