{% extends "Project Mahrabani -FrontEnd/base.html" %}
{% block title %} Project Maharbani - Manu {% endblock title %}

{% block body %}
    <link rel="stylesheet" href="../../static/indexassets/css/Manu.css">
    <div id="manu">
    <hr>
    <h1 class="text-center"> Products By Catagories</h1>
    <hr>
    <div class="products-container">
        <div class="thumbnail"><img src="../../static/indexassets/img/">
            <div class="caption"><a class="btn btn-success catagory-button" role="button" href="#"><strong>Shoes </strong></a></div>
        </div>
        <div class="thumbnail"><img src="assets/img/clothes-clipart-wear-clothes-clipart-with-southern-girl-in-the-real-world-ct-conundrum.jpg">
            <div class="caption"><a class="btn btn-success catagory-button" role="button" href="#"><strong>Cloths </strong></a></div>
        </div>
        <div class="thumbnail"><img src="assets/img/FB_IMG_1456501871562.jpg">
            <div class="caption"><a class="btn btn-success catagory-button" role="button" href="#"><strong>Hose Holds</strong></a></div>
        </div>
    </div>
    </div>
   {% endblock body %}